<div class="logo ">
<img src="../../../assets/logo.webp" width="30%" height="30%"><span class="logo">CRM</span>
</div>

<div class="side-nav-content">
  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
    <li class="nav-list-item"  >
    <img src="/assets/dashboard.png">
    <span>
      <a [routerLink]="['/dashboard','main-content']">DashBoard</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/project.png">
    <span>
      <a [routerLink]="['/dashboard','Projects']">Projects</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/Task.png">
    <span>
      <a [routerLink]="['/dashboard','Tasks']">Tasks</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/kanban.png">
    <span>
      <a [routerLink]="['/dashboard','kanban']">Kanban</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/calendar.png">
    <span>
      <a [routerLink]="['/dashboard','Calendar']">Calendar</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/telephone.png">
    <span>
      <a [routerLink]="['/dashboard','Contacts']">Contacts</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/chat (1).png">
    <span>
      <a [routerLink]="['/dashboard','Message']">Message</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/product.png">
    <span>
      <a [routerLink]="['/dashboard','Products']">Products</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/invoice.png">
    <span>
      <a [routerLink]="['/dashboard','Invoices']">Invoices</a>
    </span>
  </li>
  <li class="nav-list-item"  >
    <img src="/assets/folder.png">
    <span>
      <a [routerLink]="['/dashboard','Files']">File Browser</a>
    </span>
  </li>
  </ul>


</div>

